.window .title-bar-text img {
  width: 12px;
  transform: translateY(1px);
}

.folderContent {
  background-color: #e7e7e7;
  padding: 5px;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  height: 250px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
