.requestMicPermsPara {
  font-size: 12px;
}

#audioRecorder {
  width: 250px;
  height: 250px;
}

#volumeMeter {
  width: 200px;
  position: absolute;
  transform: translate(-25px, 45px) rotate(-90deg);
}

#audioRecorder .window-body {
  text-align: center;
}

#micTimer {
  font-size: 20px;
}
