.chatWindow {
  width: 350px;
  height: 175px;
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
  overflow-y: scroll;
}

.inputChat {
  width: 218px;
  margin-left: 8px;
  background-color: white;
  overflow-y: scroll;
  padding: 5px;
  outline: none;
  height: 60px;
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

.loginButton {
  display: flex;
  padding: 0;
  height: min-content;
}

.loginButton:not(:disabled):active {
  padding: 0;
}

.loginButton img {
  width: 20px;
  margin: 4px;
}

.loginButton p {
  margin: 8px 3px;
}

.chatArea {
  display: flex;
  margin-top: 8px;
}

.buttonsArea {
  display: flex;
  flex-direction: column;
}

.sendChatButton {
  margin: auto;
}

.loggedInLabel {
  margin: 0;
  width: 114px;
  overflow-wrap: anywhere;
  text-align: center;
  font-size: 12px;
}

.comment img {
  width: 40px;
  height: min-content;
  background-color: silver;
  margin: 12px auto;
  padding: 3px;
}

.comment {
  display: flex;
  margin: 2px 0 2px 2px;
}

.commentAuthor {
  font-weight: bold;
}

.commentAuthor:hover {
  color: blue;
}

.commentContentArea {
  width: 265px;
}

.commentTimestamp {
  color: darkgray;
  font-size: 10px;
}
