#gameBoard {
  background-color: black;
}

#pongBody {
  margin: 0;
  font-family: blippo;
  color: white;
}

@font-face {
  font-family: 'blippo';
  src: url('../../assets/fonts/blippo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#playerScore {
  position: absolute;
}

#aiScore {
  transform: translate(209px, -284px);
  position: absolute;
}
