#gameBoard {
  border-spacing: 0;
}

.snakeGame {
  width: 374px;
  height: 347px;
}

#snake {
  width: 550px;
}

.snakeButton {
  height: 0;
  margin: 32px auto;
  transform: translateX(3px);
}

.snakeScore {
  position: absolute;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  width: 30px;
  height: 25px;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  background-color: white;
}

.snakeScoreLabel {
  position: absolute;
  font-size: 14px;
}

.snakeLostText {
  position: absolute;
  transform: translate(429px, 186px);
  color: red;
  font-size: 15px;
}

#snakeSpeedSelector {
  width: 150px;
  position: absolute;
  transform: translate(386px, 1px);
}
